@using E_Matura.Models.ViewModels.Answers
@model E_Matura.Models.ViewModels.Questions.QuestionClosedAnswerTestVm
<br/>
<br/>
<div>@Model.Text</div>
<div>
    @Html.HiddenFor(m => m.Id)
    @Html.Label("Въпрос № " + Model.NumberInTest)
    @Html.Label("Точки: " + Model.Points)

    @for (int i = 0; i < Model.AnswerVms.Count; i++)
    {
        <div>
            @Html.CheckBox(Model.AnswerVms[i].Text, Model.AnswerVms[i].IsChecked, new {@Name="matura.Questions["+ i +"].AnswerVms["+ i +"].IsChecked"})
            @Model.AnswerVms[i].Text
        </div>
    }
</div>