@using System.Web.Mvc.Html
@model E_Matura.Models.ViewModels.Matura.MaturaVm
@{
    ViewBag.Title = "Generate12BgMatura";
}
@using (Html.BeginForm("Matura", "Matura", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Time)


    for (int i = 0; i < this.Model.Questions.Count; i++)
    {
        @Html.Label("Въпрос № " + this.Model.Questions[i].NumberInTest)
        @Html.Label("Точки: " + this.Model.Questions[i].Points)

        <div>@this.Model.Questions[i].Text</div>

        <div>
            @Html.HiddenFor(m => this.Model.Questions[i].Id)

            

            @for (int index = 0; index < this.Model.Questions[i].AnswerVms.Count; index++)
            {
                <div>
                    @Html.HiddenFor(m => m.Questions[i].AnswerVms[index].Id)
                    @Html.CheckBoxFor(m => this.Model.Questions[i].AnswerVms[index].IsChecked)

                    @this.Model.Questions[i].AnswerVms[index].Text
                </div>
            }
        </div>
        <br/>
        <br/>
    }

    <div class="form-group">
        <input type="submit" value="Предай теста" />
    </div>
}
